

<section id="portfolio" class="bg-light py-5">

   

    <div class="container-fluid p-0">
        <div class="text-center mb-5">
            <h2 class="mt-0">Explore Our Film Collection</h2>
            <hr class="divider" />
            <p class="text-muted">Browse through some of the most iconic and fan-favorite movies in our library.</p>
        </div>

        <div class="row g-0">
          
            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/inception.jpg" title="Inception">
                    <img src="assets/img/portfolio/thumbnails/inception1.jpg" alt="Inception Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Sci-Fi / Thriller</div>
                        <div class="project-name">Inception</div>
                    </div>
                </a>
            </div>

          
            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/dark2.jpeg" title="The Dark Knight">
                    <img src="assets/img/portfolio/fullsize/dark2.jpeg" alt="The Dark Knight Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Action / Crime</div>
                        <div class="project-name">The Dark Knight</div>
                    </div>
                </a>
            </div>

          
            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/interstellar.jpg" title="Interstellar">
                    <img src="assets/img/portfolio/fullsize/interstellar.jpg" alt="Interstellar Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Sci-Fi / Adventure</div>
                        <div class="project-name">Interstellar</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/titanic.jpg" title="Titanic">
                    <img src="assets/img/portfolio/fullsize/titanic.jpg" alt="Titanic Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Romance / Drama</div>
                        <div class="project-name">Titanic</div>
                    </div>
                </a>
            </div>

         
            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/hq720.jpg" title="The Godfather">
                    <img src="assets/img/portfolio/fullsize/hq720.jpg" alt="The Godfather Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Crime / Drama</div>
                        <div class="project-name">The Godfather</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 position-relative">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/godfather.png" title="La La Land">
                    <img src="assets/img/portfolio/fullsize/godfather.png" alt="La La Land Poster" />
                    <div class="portfolio-box-caption">
                        <div class="project-category">Musical / Romance</div>
                        <div class="project-name">La La Land</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>